.main-container {
    flex: 1;
    background-color: rgba(255,255,255,0.7);
    margin: 5%;
    display: flex;
    border-radius: 0;
    height: content;
}

.inner-container {
    max-width: 100%;
}

.project-title {
    margin: 20px;
    color: black;
}

.project-text {
    margin: 20px;
    color: black;
}

.project-img {
    width: auto;
    height: 150px;
    margin: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}